@font-face {
    font-family: glyphs;
    src: url(../fonts/glyphs.eot?t=1617182261705);
    src: url(../fonts/glyphs.eot?t=1617182261705#iefix) format("embedded-opentype"), url(../fonts/glyphs.woff2?t=1617182261705) format("woff2"), url(../fonts/glyphs.woff?t=1617182261705) format("woff"), url(../fonts/glyphs.ttf?t=1617182261705) format("truetype"), url(../fonts/glyphs.svg?t=1617182261705#glyphs) format("svg")
}

[class*=" glyphs-"],
[class^=glyphs-] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: glyphs !important;
    font-size: 1em;
    font-style: normal
}

.glyphs-test:before {
    content: "\ea01"
}

:root {
    --vw: 10px;
    --vh: 10px
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle
}

caption,
td,
th {
    font-weight: 400;
    text-align: left;
    vertical-align: middle
}

img {
    vertical-align: middle
}

dd,
div,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
img,
li,
nav,
ol,
p,
ul {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1
}

.clearfix:after {
    clear: both;
    content: "";
    display: block
}

main {
    display: block
}

figure {
    display: block;
    margin: 0;
    padding: 0
}

img {
    height: auto;
    width: 100%
}

a {
    color: currentColor;
    text-decoration: none
}

body {
    background-color: #f8e7c9;
    font-family: "Noto Serif JP", serif
}

body .city-info {
    -webkit-transition: -webkit-backdrop-filter .3s ease-in-out;
    transition: -webkit-backdrop-filter .3s ease-in-out;
    -o-transition: backdrop-filter .3s ease-in-out;
    transition: backdrop-filter .3s ease-in-out;
    transition: backdrop-filter .3s ease-in-out, -webkit-backdrop-filter .3s ease-in-out
}

body .city-info.blur {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: hsla(0, 0%, 100%, .25)
}

@media (min-width:769px),
print {
    .show-sp {
        display: none
    }

    .inner {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 1080px
    }

    img {
        max-width: 100%
    }

    .intersect-elem {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-transition: opacity .6s ease-out, -webkit-transform .6s ease-out;
        transition: opacity .6s ease-out, -webkit-transform .6s ease-out;
        -o-transition: opacity .6s ease-out, transform .6s ease-out;
        transition: opacity .6s ease-out, transform .6s ease-out;
        transition: opacity .6s ease-out, transform .6s ease-out, -webkit-transform .6s ease-out;
        will-change: opacity, transform
    }

    .intersect-elem.active {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    .link__alpha {
        cursor: pointer;
        -webkit-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        transition: opacity .3s ease;
        will-change: opacity
    }

    .link__alpha:hover {
        opacity: .6
    }

    .header {
        -webkit-box-align: stretch;
        align-items: stretch;
        background-color: #fff;
        border-bottom: 1px solid;
        height: 96px;
        left: 0;
        top: 0;
        -webkit-transition: top .6s ease;
        -o-transition: top .6s ease;
        transition: top .6s ease;
        width: 100%;
        will-change: top;
        z-index: 1
    }

    .header.scroll {
        top: -100%
    }

    .header__logo {
        display: block;
        left: 24px;
        position: fixed;
        top: 22px;
        width: 61px;
        z-index: 99;
    }

    .header__inner {
        height: 100%
    }

    .header__inner .other-city {
        -webkit-box-pack: center;
        display: -webkit-box;
        display: flex;
        height: 100%;
        justify-content: center;
        margin: 0 157px
    }

    .header__inner .other-city a,
    .header__inner .other-city span {
        -webkit-box-pack: center;
        -webkit-box-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        align-items: center;
        display: -webkit-box;
        display: flex;
        flex-direction: column;
        font-size: 1.625rem;
        height: 100%;
        justify-content: center;
        width: 400px
    }

    .header__inner .other-city a.current,
    .header__inner .other-city span.current {
        font-size: 1.875rem;
        position: relative
    }

    .header__inner .other-city a.current:after,
    .header__inner .other-city span.current:after {
        background-color: #ff7f40;
        bottom: 0;
        content: "";
        display: block;
        height: 5px;
        left: 0;
        position: absolute;
        width: 100%
    }

    .header__inner .other-city a small,
    .header__inner .other-city span small {
        color: #959595;
        font-size: .75rem
    }

    .footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-align: center;
        align-items: center;
        background-color: #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: flex;
        flex-direction: column;
        height: 183px;
        height: 410px;
        padding-top: 68px;
        position: relative;
        text-align: center;
        z-index: 102
    }

    .footer__copyright {
        font-size: .625rem;
        margin-top: 53px
    }
}

@media only screen and (max-width:768px) {
    .show-pc {
        display: none
    }

    .inner {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 89.33333333333333vw
    }

    img {
        max-width: 100%
    }

    body {
        padding-top: 100vh;
        padding-top: 19.466666666666665vw;
        padding-top: 0;
    }

    .intersect-elem {
        opacity: 0;
        -webkit-transform: translateY(5.333333333333334vw);
        transform: translateY(5.333333333333334vw);
        -webkit-transition: opacity .6s ease-out, -webkit-transform .6s ease-out;
        transition: opacity .6s ease-out, -webkit-transform .6s ease-out;
        -o-transition: opacity .6s ease-out, transform .6s ease-out;
        transition: opacity .6s ease-out, transform .6s ease-out;
        transition: opacity .6s ease-out, transform .6s ease-out, -webkit-transform .6s ease-out;
        will-change: opacity, transform
    }

    .intersect-elem.active {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    .header {
        -webkit-box-align: stretch;
        align-items: stretch;
        background-color: #fff;
        border-bottom: 1px solid #000;
        height: 19.466666666666665vw;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9;
    }

    .header__logo {
        display: block;
        left: 3.733333333333334vw;
        position: fixed;
        top: 5.333333333333334vw;
        width: 6.200000000000001vw
    }

    .header__inner {
        height: 100%
    }

    .header__inner .other-city {
        -webkit-box-pack: center;
        display: -webkit-box;
        display: flex;
        height: 100%;
        justify-content: center;
        margin: 0 0 0 13.333333333333334vw
    }

    .header__inner .other-city a,
    .header__inner .other-city span {
        -webkit-box-pack: center;
        -webkit-box-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        align-items: center;
        display: -webkit-box;
        display: flex;
        flex-direction: column;
        font-size: 2.8vw;
        height: 100%;
        justify-content: center;
        line-height: 1;
        width: 25.066666666666666vw
    }

    .header__inner .other-city a.current,
    .header__inner .other-city span.current {
        font-size: 2.9vw;
        position: relative
    }

    .header__inner .other-city a.current:after,
    .header__inner .other-city span.current:after {
        background-color: #ff7f40;
        bottom: -.06666666666666667vw;
        content: "";
        display: block;
        height: 1.0666666666666667vw;
        left: 0;
        position: absolute;
        width: 100%
    }

    .header__inner .other-city a small,
    .header__inner .other-city span small {
        color: #959595;
        font-size: 2.1333333333333333vw;
        margin-top: 1.0666666666666667vw
    }

    .footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-box-align: center;
        align-items: center;
        background-color: #fff;
        border-top: 1px solid;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: flex;
        flex-direction: column;
        padding-bottom: 4.266666666666667vw;
        padding-top: 10.133333333333333vw;
        position: relative;
        text-align: center;
        z-index: 102
    }

    .footer__link {
        width: 53.6vw
    }

    .footer__copyright {
        font-size: 2.666666666666667vw;
        margin-top: 14.133333333333335vw
    }
}